@font-face {
  font-family: 'GeTeShiZiTi';
  src: url('../fonts/GeTeShiZiTi.woff2') format('woff2'),
       url('../fonts/GeTeShiZiTi.woff') format('woff'),
       url('../fonts/GeTeShiZiTi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}